* {
  box-sizing: border-box;
}

iframe {
  display: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: whitesmoke;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 16px;

    height: 100%;
  }
}
